*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --font-clr: #fff;
    --bg-clr: #0e1323;
    --dark-clr: #1c204b;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    font-size: 15px;
}

body {
    background: var(--bg-clr);
    color: var(--font-clr);
    margin: 0;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1100px;
    width: 70%;
    margin: 50px auto;
}

/* -------------------- */
/* REUSABLE STYLES */
/* -------------------- */

.section-container {
    max-width: 327px;
    background: var(--dark-clr);
    border-radius: 15px;
    margin-top: -40px;
    padding: .5em 2em;
    position: relative;
}

.section-container:hover {
    background: #33397a;
}

.section-avatar {
    filter: invert(0.20);
    opacity: 0.2;
    width: 78px;
    height: 78px;
    position: relative;
    left: 220px;
    bottom: 10px;
}

.activity {
    max-width: 327px;
    border-radius: 15px;
    margin-top: 20px;
}

.title--ellipsis {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
}

.hours--last {
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    align-items: center;
}

.ellipsis {
    width: 21px;
    height: 5px;
}

h2 { 
    font-size: 18px;
}

.hours { 
    font-size: 32px;
    margin: 0;
}

.last,
.ellipsis {
    color: #bbc0ff;
}
/* ----- */
/* Header */
/* ----- */

.hero {
    max-width: 327px;
    background: var(--dark-clr);
    border-radius: 15px;
}

.main-avatar {
    width: 64px;
    height: 64px;
    border: 2px solid white;
    border-radius: 50%;
    object-fit: cover;
}

.identity {
    display: flex;
    gap: 1em;
    align-items: center;
    background: #5747ea;
    justify-content: center;
    border-radius: 15px;
    padding: 1.5em;
}

.report p {
    margin-bottom: 0;
    color: #bbc0ff;
}

.name {
    margin-top: 0;
    font-weight: lighter;
}

.report-range {
    display: flex;
    justify-content: space-between;
    padding: 1.5em;
}

.btn {
    border: none;
    background: transparent;
    color: #7078c9;
    font-size: 18px;
}

.report-range button:active,
.report-range button:hover {
    color: white;
}

/* ----- */
/* Work */
/* ----- */

.work { background: #D96C47; }


/* ----- */
/* play */
/* ----- */

.play { background: #55c2e6; }

/* ----- */
/* play */
/* ----- */

.study { background: #F04667;}

/* ----- */
/* exercise */
/* ----- */

.exercise { background: #29BA66; }

/* ----- */
/* Social */
/* ----- */

.social { background: #7335D2; }

/* ----- */
/* Self Care */
/* ----- */

.self-care { background: #f1c75b; }

/* -------------- */
/* Desktop Layout */
/* -------------- */

@media (min-width: 700px) {
    main {
        grid-template: 244px 244px / 255px 255px 255px 255px;
        display: grid;
        grid-template-areas: 
            "hero activity-one activity-two activity-three"
            "hero activity-four activity-five activity-six"
        ;
        gap: 2em;
    }

    .hero { 
        grid-area: hero;
        height: 518px;
    }
    .work { grid-area: activity-one;}
    .play { grid-area: activity-two;}
    .study { grid-area: activity-three;}
    .exercise { grid-area: activity-four;}
    .social { grid-area: activity-five;}
    .self-care { grid-area: activity-six;}

    .activity { margin-top: 0;}
    .section-avatar { left: 160px;}

    .identity { flex-direction: column;  height: 354px;}
    .main-avatar { 
        align-self: flex-start;
        width: 78px;
        height: 78px;
    }
    .name { 
        font-size: 40px;
        padding-bottom: .2em;
    }
    .report-range { 
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
    }

    .btn + .btn {
        margin-top: 20px;
    }

    .hours--last { 
        flex-direction: column;
        align-items: flex-start;
    }

    .hours { 
        font-size: 56px;
        margin-top: .4em;
    }
}