*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --font-clr: #fff;
    --bg-clr: #0e1323;
    --dark-clr: #1c204b;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    font-size: 15px;
}

body {
    background: var(--bg-clr);
    color: var(--font-clr);
    margin: 0;
}

img {
    max-width: 100%;
}

/* -------------------- */
/* REUSABLE STYLES */
/* -------------------- */

.section-container {
    max-width: 327px;
    background: var(--dark-clr);
    border-radius: 15px;
    margin-top: -40px;
    padding: .5em 2em;
    position: relative;
}

.section-avatar {
    filter: invert(0.20);
    opacity: 0.2;
    width: 78px;
    height: 78px;
    position: relative;
    left: 220px;
}

.activity {
    max-width: 327px;
    border-radius: 15px;
    margin-top: 20px;
}

.title--ellipsis {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
}

.hours--last {
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    align-items: center;
}

.ellipsis {
    width: 21px;
    height: 5px;
}

h2 { 
    font-size: 18px;
}

.hours { 
    font-size: 32px;
    margin: 0;
}

.last,
.ellipsis {
    color: #bbc0ff;
}
/* ----- */
/* Header */
/* ----- */

.hero {
    max-width: 327px;
    background: var(--dark-clr);
    border-radius: 15px;
}

.main-avatar {
    width: 64px;
    height: 64px;
    border: 2px solid white;
    border-radius: 50%;
    object-fit: cover;
}

.identity {
    display: flex;
    gap: 1em;
    align-items: center;
    background: #5747ea;
    justify-content: center;
    border-radius: 15px;
    padding: 1.5em;
}

.report p {
    margin-bottom: 0;
}

.name {
    margin-top: 0;
}

.report-range {
    display: flex;
    justify-content: space-around;
    padding: .5em;
    color: #7078c9;;
}

.report-range p:active,
.report-range p:hover {
    color: white;
}

/* ----- */
/* Work */
/* ----- */

.work { background: #D96C47; }


/* ----- */
/* play */
/* ----- */

.play { background: #55c2e6; }

/* ----- */
/* play */
/* ----- */

.study { background: #F04667;}